.employee-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emp-table {
    width: 60%;
}

tr {
    height: 50px;
    width: 200px !important;
    text-align: center;
    background-color: aquamarine;
}